section.contributions
  .container.container--full-page.container--narrow
    h2.section-title.section-title--dark #[span His] Contributions
    p Neumann made major contributions to a number of fields, including: #[span#rotate mathematics, functional analysis, ergodic theory, representation theory, operator algebras, geometry, topology, numerical analysis, physics, quantum mechanics, hydrodynamics, quantum statistical mechanics, economics, game theory, computing, linear programming, self-replicating machines, stochastic computing, statistics]
