section.hero
  .hero__particles.anim.anim--fade-in.js-parallax#particles-js
  .container.container--narrow.container--full-page
    .hero__image.anim.anim--pop
      img(src='images/neumann.jpg', srcset='/images/neumann.jpg 1x, /images/neumann@2x.jpg 2x', alt='')
    h1.hero__title John #[span von] Neumann
    p.hero__date (December 28, 1903 – February 8, 1957)
    h2.hero__subtitle Hungarian-American mathematician, physicist, inventor, computer scientist, and polymath
