section.merge-sort
  .container.container--narrow
    h2.section-title #[span Merge] Sort
    p Invented by John von Neumann in 1945, merge sort is one of the first sorting styles proposed for computers. It uses divide and conquer principles &ndash; breaking down a problem into smaller sub-problems and solve them. 
    
    p Von Neumann wrote the 23 pages long sorting program for the EDVAC in ink. A detailed description and analysis of bottom-up mergesort appeared in a report by Goldstine and Neumann as early as 1948.
    
    p.text-center #[a.cta(href='https://en.wikipedia.org/wiki/Merge_sort', target='_blank', rel='noopener noreferrer') Read more]
