- var title='John von Neumann - FCC Tribute Page'
- var description='Check out my freeCodeCamp tribute page dedicated to John von Neumann, one of the most important names in the history of computing'
- var url='https://zsolti.co/fcc/tribute/'
- var image=url+'images/screenshot.jpg'
- var twitter='@ZsoltiMe'
