footer.site-footer
  .container
    p.copyright Created by #[a(href='https://zsolti.co') Zsolt Meszaros] for freeCodeCamp. Source code is available on #[a(href='https://github.com/zsoltime/fcc-tribute') GitHub].
  
