{
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
    },
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore",
    }],
    "import/extensions": 0,
    "no-param-reassign": 0,
  },
}
