extends _layout.pug
block title
  title FCC Tribute Page
block content
  include partials/_site-header.pug
  include partials/_hero.pug
  include partials/_about.pug
  include partials/_contributions.pug
  include partials/_timeline.pug
  include partials/_site-footer.pug
