extends _layout.pug
block meta
  include partials/_meta-data.pug
  include partials/_meta.pug
block content
  include partials/_site-header.pug
  include partials/_hero.pug
  include partials/_about.pug
  include partials/_contributions.pug
  include partials/_merge-sort.pug
  include partials/_timeline.pug
  include partials/_site-footer.pug
