$background-color: #fafafa
$link-color: #009688
$text-color: rgba(black, .75)
$brand-color: #004d40

$font-stack-sans: Roboto, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif
$font-size: 100%
$font-weight: 400
$line-height: 1.5
